body {
	background-color: #EEE;
}

h1 {
	margin: 0;
}

.js-tabcollapse-panel-heading:hover > *,
.active .js-tabcollapse-panel-heading > *,
.technology-pillars a:hover {
	opacity: 0.8;
}

.blue,
.blue.small {
	background-color: #00AAC4;
	color: white;
}

	.blue.tab {
		background-color: inherit;
	}

		.blue.tab > .tab-rounded {
			background-color: #00AAC4;
			font-size: 5em;
		}

.inverse-blue {
	background-color: white;
	color: #00AAC4;
	text-align: center;
}

	.dashed-border {
		border: 3px #00AAC4 dashed;
	}

.green,
.green.small {
	background-color: #8CC63F;
	color: white;
}

	.green.tab {
		background-color: inherit;
	}

		.green.tab > .tab-rounded {
			background-color: #7bb135;
			font-size: 5em;
		}

	.dark-green {
		background-color: #7bb135;
		z-index: 2;
		color: white;
	}

.inverse-green {
	background-color: white;
	color: #8CC63F;
	text-align: center;
}
	.inverse-green img {
		height: 60px;
	}

.dark-blue {
	background-color: #00498C;
	color: white;
}

	.dark-blue.tab {
		background-color: inherit;
	}

		.dark-blue.tab > .tab-rounded {
			background-color: #00498C;
			font-size: 5em;
		}

.white {
	background-color: white;
	opacity: 1 !important;
}

.inverse-dark-blue {
	background-color: white;
	color: #00498C;
	text-align: center;
}

	.inverse-dark-blue img {
		height: 50px;
	}

.circle-parent div {
	margin: 0 auto;
}

	.circle-border {
		width: 150px;
		height: 150px;
		margin: auto;
		border-radius: 75px;
		font-size: 1.8rem;
		display: flex;
		align-items: center;
		text-align: center;
	}

.puzzle {
	padding: 0;
}

	.puzzle .puzzle-background {
		width: 100%;
		height: 150px;
	}

	.puzzle .puzzle-text {
		padding: 15px 50px;
	}

		.puzzle .puzzle-text img {
			width: 70px;
		}


	.puzzle .puzzle-circle {
		width: 25px;
		height: 50px;

		position: absolute;
		top: 50%;
		margin-top: -25px;
	}

		.puzzle .puzzle-circle.right {
			right: 0;
			margin-right: -25px;
			border-radius: 0 25px 25px 0;
		}

		.puzzle .puzzle-circle.left {
			left: 0;
			margin-left: -25px;
			border-radius: 25px 0 0 25px;
		}

	.puzzle.puzzle-top {
		z-index: 10;
	}

.header-line {
	color: #00AAC4;
	text-align: center;
	font-weight: bold;
}

.header-link {
    color: white;
    line-height: 45px;
}

.nav-tabs {
	border: none;
	text-align: center;
}

	.nav-tabs h1 {
		border-radius: 15px 0 15px 0;
		padding: 25px 5px;


		font-size: 2.5rem;
		font-weight: normal;
		text-align: center;
	}

	.nav-tabs h1.small {
		font-size: 1.5rem;
	}

	.nav-tabs h2 {
		margin-bottom: 0;
	}

	.nav-tabs.goals h1 {
		font-size: 1.5rem;
		padding: 25px 10px;
	}

	.nav-tabs > li > a {
		margin-right: 0; 
		border: none;
	}

.tab-content,
.panel-body {
	font-size: 1.7rem;
}
	
.nav > li > a {
	position: initial; 
 	padding: 0; 
}

.panel-heading,
.panel,
.panel-body {
	border: none !important;
	padding: 0;
	background-color: white !important;
	box-shadow: none;
}

.panel-title h1 {
	font-size: 2rem;
	padding: 20px;
	text-align: center;
}

.tab-content>.tab-pane {
    margin-top: 10px;
}

.vertical-wrapper {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

	.vertical-wrapper .frame {
		position: relative;
		left: 0px;
		top: 0px;
		width: 50px;
		height: 100%;
	}

		.vertical-wrapper .frame .tab {
			width: 100%;
			height: 100%;
		}

			.vertical-wrapper .frame .tab .tab-rounded {
				width: 100%;
				height: 100%;
				border-radius: 15px 0 0 15px;
			}
			
			.vertical-wrapper .frame .tab .caption {
				position: absolute;
				top: 50%;
				left: 50%;
				line-height: 0px;  /* centre the text on the base line */
				white-space: nowrap;
				font-size: 1.2em;

				-ms-transform: translateX(-50%) rotate(-90deg) ;
				-webkit-transform: translateX(-50%) rotate(-90deg);
				transform: translateX(-50%) rotate(-90deg);
			}

				.vertical-wrapper .frame .tab .caption.wrap {
					line-height: 1em;
					white-space: normal;
					padding-left: 30px;
				}

				.vertical-wrapper .frame .tab .caption h3 {
					color: white;
					margin: 0;
				}


.main-content {
	background-color: white;
	padding: 20px 20px;
}

	.main-content .left {
		flex: 1 5%;
	}

	.main-content .right {
		flex: 11 95%;
	}

@media (min-width: 768px) {
	.main-content {
		padding-top: 65px;
	}
}

@media (max-width: 767px) {
	#header #header-main-row1 {
	    margin-left: 15px;
	}
}

@media (min-width: 992px) {
	.core-functions .col-md-a {
		width: 11%;
		padding: 0;
	}
		
		.core-functions .col-md-a img {
			margin-bottom: 10px;
		}
}

@media (min-width: 992px) {
	.technology-pillars {
		margin-bottom: 20px;	
	}

		.technology-pillars .col-md-a {
			width: 20%;
			padding: 0 25px;
		}
}


.key-projects .inverse-dark-blue {
	font-size: 1.25em;
}

	.key-projects .inverse-dark-blue img {
		height: 65px;
		margin-bottom: 10px;
	}

	@media (min-width: 992px) {
		.key-projects .col-md-a {
			width: 14.2%;
		}
	}

.ocio-mission {
	margin-top: 0;
}

	.ocio-mission h1 {
		border-radius: inherit;
	}

	.ocio-mission .glyphicon {
		font-size: 30px;
		margin-left: 50px;
		margin-right: -80px;
		margin-top: -8px;
	}

.strategic-goals .row,
.core-functions .row {
	margin-left: 0;
	margin-right: 0;
}