/* ================================================
  Block
================================================ */
.infogfx {
  // style if needed, eg: max width
}

/* ================================================
  Elements
================================================ */
.infogfx__accordionPanel {
  background-color: #0dabc5;
  border-radius: 10px 0 10px 0;
  color: #fff;
}

.infogfx__accordionTrigger {
  background-color: #0dabc5;
  border-radius: 10px 0 10px 0;
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: block;
  min-height: 72px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.infogfx__modalTriggerYoutube {
  cursor: pointer;
}

/* ================================================
  Modifiers: different versions, state, media queries
================================================ */
.infogfx__accordionPanel--alt1 {
  background-color: #8dc642;
}

.infogfx__accordionTrigger[aria-pressed='true'] {
  border-radius: 10px 0 0 0;
}

.infogfx__accordionTrigger[aria-pressed='false'] {
  //...
}

.infogfx__accordionTrigger--alt1 {
  background-color: #8dc642;
}



