/* ================================================
  General
================================================ */
[aria-hidden='true'] {
  display: none;
}

.accordionBtn {
  color: black;
  border: none;
  padding: 0 10px;
  display: block;
  text-align: left;
  background-color: #0dabc5;
  border-radius: 10px 0 10px 0;
  text-align: center;
  color: #fff;
  min-height: 72px;
  width: 100%;
  vertical-align: middle;
}
.accordionBtn[aria-pressed='true'] {
  border-radius: 10px 0 0 0;
}
.accordionBtn[aria-pressed='false'] {
}
.accordionBtn--alt1 {
  background-color: #8dc642;
}

.accordionPanel {
  background-color: #0dabc5;
  border-radius: 10px 0 10px 0;
  color: #fff;
}
.accordionPanel--alt1 {
  background-color: #8dc642;
}